[submodule "documentation/developer-roadmap"]
	path = documentation/developer-roadmap
	url = https://github.com/kamranahmedse/developer-roadmap.git
[submodule "documentation/web-technologien"]
	path = documentation/web-technologien
	url = https://github.com/t-hofmann/web-technologien.git
